#datasets {
  margin-top: 20px;
}

#dataset-metadata {
  margin-top: 10px;
  margin-bottom: 10px;
}

#table-detail {
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  overflow-x: scroll;
}

table th :hover {
  cursor: crosshair; 
}

#table-detail td {
  font-size: smaller;
}


