{
  "twitterConsumerKey": "",
  "twitterConsumerSecret": "",
  "twitterCallbackUrl": "http://localhost:3000/auth/twitter/callback",
  "mongodb": "mongodb://localhost/csvhub",
  "data": "/Users/ed/Projects/csvhub/data"
}
