<div id="about">
  <div class="row">
    <div class="large-4 column">
      <a href="https://www.flickr.com/photos/danbri/4030764915/">
        <img src="/images/share.png">
      </a>
    </div>
    <div class="large-8 column">
      <p>
        The image to the left was created by <a href="https://en.wikipedia.org/wiki/Robert_Cailliau">Robert Cailliau</a>
        in 1993 to help promote the use of the World Wide Web when the Web we know today was just being born. What
        a crazy idea, that people all over the world would 
        <a href="https://en.wikipedia.org/wiki/HTML">publish</a> and 
        <a href="https://en.wikipedia.org/wiki/URL">name</a> their information in the same 
        <a href="https://en.wikipedia.org/wiki/HTTP">way</a> on the Internet.
      </p> 
      <p>
        One of the great insights in the design of the Web is that it is inclusive--it 
        <a href="https://en.wikipedia.org/wiki/Song_of_Myself">contains multitudes</a>. You can put 
        any old type of file on the Web and link to it. While there have been 
        <a href="https://en.wikipedia.org/wiki/Semantic_Web">many efforts</a> 
        to share structured data on the Web, many data publishers, particularly in government and business, continue 
        to make their datasets available as <a href="https://en.wikipedia.org/wiki/Spreadsheet">spreadsheets</a> using 
        <a href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a>.
      </p>
      <p>
        csvwww is a simple prototype to demonstrate the use of the emerging  
        <a href="http://www.w3.org/2013/csvw/wiki/Main_Page">CSV on the Web (CSVW)</a> standard from the World Wide
        Web Consortium. CSVW gives CSV data publishers a pattern for continuing to publish their CSV data while also
        describing the data: who created it, why, when, and with what semantics.
      </p>
      <p> 
        csvwww was developed as part of the 
        <a href="http://worksets.htrc.illinois.edu/worksets/">Workset Creation for Scholarly Analysis</a> project,
        a collaboration between  <a href="http://mith.umd.edu">Maryland Institute for Technology in the Humanities</a> 
        and the <a href="http://www.hathitrust.org/htrc">HathiTrust Research Center</a>. 
        If you are interested in helping making csvww better it's 
        <a href="http://github.com/umd-mith/csvwww">on Github</a>. But you don't need csvwww to use CSVW on your 
        own site. So get started today!
      </p>
      <p>
        Warning: any data you upload here can be deleted at any time. It is currently just for demonstration
        purposes.
      </p>
    </div>
  </div>
</div>