<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    {{{body}}}
    <script src="js/foundation.js"></script>
    <script src="js/jquery.js"></script>
  </body>
</html>
